In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import os

In [3]:
base_dir = "data"

In [5]:
os.listdir("data")

['corona_drug1.csv', 'corona_drug2_sars2.csv', 'SARS_1.csv']

In [6]:
drug1 = pd.read_csv('data/corona_drug1.csv')
drug2 = pd.read_csv('data/corona_drug2_sars2.csv')
drug3 = pd.read_csv('data/SARS_1.csv')

In [7]:
drug1.head(3)

,molecule_chembl_id,canonical_smiles,standard_value,active_status
0,CHEMBL187579,Cc1noc(C)c1CN1C(=O)C(=O)c2cc(C#N)ccc21,7200.0,intermediate
1,CHEMBL188487,O=C1C(=O)N(Cc2ccc(F)cc2Cl)c2ccc(I)cc21,9400.0,intermediate
2,CHEMBL185698,O=C1C(=O)N(CC2COc3ccccc3O2)c2ccc(I)cc21,13500.0,inactive

In [8]:
drug2.head(3)

,molecule_chembl_id,canonical_smiles,standard_value,active_status
0,CHEMBL480,Cc1c(OCC(F)(F)F)ccnc1C[S+]([O-])c1nc2ccccc2[nH]1,390,active
1,CHEMBL178459,Cc1c(-c2cnccn2)ssc1=S,210,active
2,CHEMBL3545157,O=c1sn(-c2cccc3ccccc23)c(=O)n1Cc1ccccc1,80,active

In [9]:
drug3.head(4)

,Unnamed: 0,molecule_chembl_id,canonical_smiles,standard_value,active_status
0,0,CHEMBL194398,CCOC(=O)/C=C/[C@H](C[C@@H]1CCNC1=O)NC(=O)[C@@H...,870000.0,inactive
1,1,CHEMBL393608,CCOC(=O)/C=C/[C@H](C[C@@H]1CCNC1=O)NC(=O)[C@H]...,200000.0,inactive
2,2,CHEMBL238216,CCOC(=O)/C=C/[C@H](C[C@@H]1CCNC1=O)NC(=O)[C@H]...,300000.0,inactive
3,3,CHEMBL235873,CCOC(=O)/C=C/[C@H](C[C@@H]1CCNC1=O)NC(=O)[C@H]...,15000.0,inactive